@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  gap: 0;
}

:root {
  --main-color: #fcdb58;
  --secondary-color: #ff6c00;
  --text-color: #000;
  --text-color2: #ffffff;
  --bg-color-01: #000;
  --bg-color-02: #ffffff;
  --border-color: #;
  --button-color: radial-gradient(
    ellipse,
    rgba(252, 255, 104, 0.781) 0%,
    rgba(255, 217, 0, 0.637)
  );

  /*extra colors*/

  --color-01: #;
  --color-01: #;
  --color-01: #;
  --color-01: #;
  --color-01: #;

  /*
  
  Exemplo de inserção de Cor

  background-color: var(--bg-color-01);
  color: var(--text-color);

  */
}

header {
  position: fixed;
  top: 0;
  left: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 33px 9%;
  z-index: 1000;
}
.residence .image {
  position: absolute;
  top: 15%;
  left: 14%;
  width: 100%;
}
.text {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.residence {
  background-color: #000000;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(100px);
  overflow: hidden;
}
body .contact {
  margin-top: 0;
}
body .residence {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.residence,
.structure,
.cards,
.video-reels {
  padding: 0 15%;
}
.residence-text {
  padding-top: 200px;
}
.residence-text h1 {
  display: flex;
  font-size: 15px;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin: 0 0 20px;
}
.residence-text h6 {
  left: 0;
  display: inline;
  font-size: 25px;
  color: var(--secondary-color);
}
.residence-text .title {
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
  line-height: 1.2;
}

.residence-text .title2 {
  font-size: 15px;
  color: white;
  padding-bottom: 50px;
}

.residence .title p {
  font-size: 15px;
  background-color: white;
}

.residence-text a {
  display: inline-block;
  padding: 12px 30px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  background-image: var(--button-color);
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.55s ease;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.residence-text a:hover {
  /*  background: var(--main-color ); */
  background-color: var(--secondary-color);
  color: black;
  transform: translateX(8px);
}
.residence-text a .ctaa {
  background: transparent;
  border: 1px solid rgb(196, 196, 29);
  margin-left: 20px;
}
.residence-text a .ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}
.icons i:hover {
  color: var(--secondary-color);
  transform: translateY(-5px);
}
.scroll-down {
  position: fixed;
  width: 60px;
  height: auto;
  z-index: 1000;
  top: 90%;
  right: 5%;
  font-size: 50px;
}
.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 35px;
  color: #000000;
  background-image: radial-gradient(
    ellipse,
    rgba(252, 255, 104) 0%,
    rgba(255, 217, 0)
  );
  border-radius: 50px;
  transition: all 0.5s ease;
}
.scroll-down i:hover {
  background-color: var(--secondary-color);
  transform: translateY(-10px);
}

/*Contato*/

.contact {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 45px;
  background: #000000;
  height: auto;
  width: 100%;
  /*
  background-color: var(--main-color);*/
  background-image: radial-gradient(
    ellipse,
    rgba(252, 255, 104, 0.781) 0%,
    rgba(255, 217, 0, 0.637)
  );
}

.contact h2 {
  color: #000000;
  font-size: 30px;
  margin: 30px;
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form label {
  color: #000000;
  font-size: 17px;
  margin-bottom: 4px;
  border-radius: 10px;
}
form select {
  width: 100%;
  font-size: 15px;
  padding: 7px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
form input {
  width: 100%;
  padding: 7px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
  border-radius: 5px;
}
form .input-box {
  width: 100%;
}
form button {
  margin-top: 20px;
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: black;
  border: 0px solid #000000;
  color: #ffffff;
  transition: all 1s;
  margin-bottom: 20px;
  border-radius: 5px;
}
form .text-bottom {
  font-size: 12px;
}

/*Página do Obrigado*/

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #101026;
  flex-direction: column;
}
.text {
  font-size: 45px;
  color: #f5f5f5;
  margin-bottom: 30px;
}
.paragrafo {
  color: #f5f5f5;
  margin-bottom: 50px;
}
.btn {
  padding: 15px 55px;
  background: #f5f5f5;
  text-decoration: none;
  color: #101026;
  font-size: 18px;
  transition: all 0.5s;
}
.btn:hover {
  border-radius: 16px;
}

/*structure*/

.structure {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  padding-left: 15%;
  justify-content: center;
  align-items: center;
}
.structure-text h2 {
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
.structure-text span {
  color: var(--secondary-color);
}
.structure-text p {
  font-size: 15px;
  color: #000000;
  padding-top: 20px;
}
.structure-video .video-lot {
  margin-top: 10%;
  width: 101%;
  height: auto;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
}
.button {
  margin-top: 20px;
  padding: 15px 30px;
  background: var(--button-color);
  color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}
.structure-video a {
  align-items: center;
  margin-left: 42%;
  margin-top: 20px;
  display: inline-block;
  padding: 12px 30px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  background-image: var(--button-color);
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50px;
  transition: all 0.55s ease;
  text-transform: uppercase;
  border: 1px solid transparent;
}
.structure-video a:hover {
  background-color: var(--secondary-color);
  color: black;
  transform: translateY(-8px);
}
.structure-video a .ctaa {
  border: 1px solid var(--main-color);
  margin-left: 20px;
}
.structure-video a .ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

/*Cards*/
.cards {
  background-color: #000;
  min-height: 100vh;
  z-index: 1005;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 150px;
}
.container .box {
  height: 180px;
  width: 400px;
  background: #fff;
  margin: 20px;
  position: relative;
  box-shadow: 0px 0px 2px rgb(179, 179, 179);
  transition: 0.3s all ease-in-out;
  background-color: transparent;
}
.container .box .box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.container .box .box-content i {
  display: flex;
  color: rgba(255, 217, 0);
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}
.container .box .box-content .desc {
  font-size: 24px;
  color: #ffffff;
  font-weight: 200;
  padding-top: 10px;
  font-size: 18px;
}

/*Plants*/

/*
.plants {
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}
.plants-box {
  display: grid;
  margin: 0;
}
.template-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.plants-box img {
  width: 100%;
  height: 120%;
  overflow: hidden;
  padding: 2px;
  border-radius: 8px;
}
.plants-box img:hover {
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}

*/

/*TEste*/

.collection {
  height: 100vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection .content {
  height: 28rem;
  width: 25rem;
  background-color: white;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  border-bottom: 0.4rem solid var(--main-color);
  border-top: 0.4rem solid var(--main-color);
  overflow: hidden;
  padding: 0.2rem;
}

.content img {
  width: 100%;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-content h3 {
  font-size: 1.7rem;
  font-weight: 600;
}
.text-content p {
  max-width: 22rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
.btn {
  background-color: var(--main-color);
  padding: 0.3rem;
  border: 2px solid var(--main-color);
  outline: none;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--secondary-color);
  color: black;
  border-radius: 0.5rem;
}

/*video-reels*/

.video-reels {
  min-height: 100vh;
  overflow: hidden;
  background-color: #000000;
  align-items: center;
  padding-top: 6.5%;
}
.video-reels-text p {
  padding-top: 40px;
  padding-bottom: 80px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  align-content: center;
}

.video-reels .video-reels-video {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  overflow: hidden;
  gap: 2rem;
}

.video-reels-video div {
  width: fit-content;
  height: 99%;
  border-top: 0;
  border-bottom: 0;
}
.video-reels video {
  border-radius: 10px;
}

/*map*/

.map-content {
  min-height: 50vh;
  max-width: 100vw;
  overflow: hidden;
}
.map {
  min-height: 50vh;
  max-height: 50vh;
  width: 10%;
  cursor: pointer;
}
/*Corretores*/

.team {
  padding: 0 15%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}
.slide-container {
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  border-radius: 25px;
  overflow: hidden;
}
.card {
  border-radius: 25px;
  background-color: white;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5p;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 25px 25px 25px 25px;
  border: var(--secondary-color) solid 2px;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--main-color);
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  padding: 10px;
}
.description {
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  margin: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: var(--main-color);
}

.swiper-navBtn {
  color: #6807c2;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #8f5cbe;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
  transition: color 0.3s ease;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  color: var(--secondary-color);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  color: #8f5cbe;
}

/*footer*/

.footer {
  border-top: 10px white;
  background-color: #000;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.container-footer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-footer .logo-footer {
  width: 100px;
  margin-bottom: 25px;
}
#company {
  text-align: justify;
}
.col-footer {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 0 2rem;
}
.col-footer h3 {
  color: var(--secondary-color);
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.col-footer h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.col-footer h3:hover::after {
  width: 30%;
}
.col-footer .social a i {
  color: var(--secondary-color);
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col-footer .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
.col-footer .links-footer a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}
.col-footer .links-footer a:before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: var(--secondary-color);
  transition: 0.5s ease;
  opacity: 0;
}
.col-footer .links-footer a:hover::before {
  opacity: 1;
}
.col-footer .links-footer a:hover {
  transform: translateX(-8px);
  color: var(--secondary-color);
}
.col-footer .contact-details-footer {
  display: inline-flex;
  justify-content: space-between;
}
.col-footer .contact-details-footer i {
  color: var(--secondary-color);
  margin-right: 15px;
}

.copy {
  background-color: #0c0a0a;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 12px;
  text-align: center;
  font-weight: 100;
}

@media (max-width: 768px) {
  body .residence {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 10%;
  }
  .residence-text {
    padding-top: 0;
  }
  .residence a {
    display: none;
  }
  .residence-text {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .residence .image {
    padding-top: 20%;
    position: static;
    left: 0;
    padding-left: 4%;
    padding-right: 4%;
  }
  .contact {
    left: 0;
    display: grid;
    grid-template-columns: auto;
  }
  .contact h2 {
    font-size: 22px;
    text-align: center;
  }
  .contact .text-bottom {
    font-size: 10px;
    text-align: center;
  }
  .icons {
    display: none;
  }
  .structure {
    display: grid;
    width: 100%;
    padding-top: 10%;
  }
  .structure .structure-text {
    text-align: center;
  }
  .structure .structure-video {
    margin-left: 5%;
  }
  .structure .structure-video a {
    margin-left: 28%;
    font-size: 12px;
    margin-bottom: 10%;
    align-items: center;
  }
  .footer-section {
    overflow: hidden;
    max-width: 100vw;
    grid-template-columns: repeat(1, 1fr);
  }
}
